.panel{
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  width: 100%;
  padding: 0; 
  font-size: 13px;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  padding-bottom: 30px;
  max-height: 2000px;
  transition: max-height 0.5s ease;
  &.panel-collapse{
    overflow: hidden;
  }
  .panel-title{
    position: relative;
    border-bottom: 1px solid #e7eaec;
    margin-bottom: 30px;
    padding: 15px 30px;
    h4{
      display: inline-block;
      font-weight: 300;
      font-size: 17px;
      margin: 0 0 7px;
      padding: 0;
      text-overflow: ellipsis;
      margin: 0;
    }
    .actions{
      position: absolute;
      top: 8px;
      right: 20px;
      .btn{
        padding: 0 5px;
      }
    }
  }
  .panel-content{
    padding: 0 30px;
  }
}

.table-panel{
  min-height: 400px;
  .panel-title{
    margin-bottom: 15px;
    padding: 15px;
    .show-count{
      float: left;
      select{
        border-radius: 4px;
        height: 25px;
        font-size: 14px;
        color: #999;
        border-color: #ccc;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
          border-color: #999;
        }
      }
    }
    .right-container{
      float: right;
      .searchfield{
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
      }
    }
  }
  .panel-content{
    padding: 0 15px;
    .no-data{
      text-align: center;
      font-size: 20px;
      color: #ccc;
      svg{
        fill: #ccc;
        width: 130px;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        margin-bottom: 20px;
      }
    }
    .loader-row{
      padding: 50px 0;
    }
  }
}

.panel.collapsed{
  max-height: 45px;
  .actions button:last-child{
    transform: rotate(-90deg);
  }
}