.collapse-enter-active, .collapse-leave-active {
  transition: all .5s ease;
  overflow: hidden;
  max-height: 1000px;
}
.collapse-enter, .collapse-leave-to {
  max-height: 0px;
}

//FADE
.fade-enter-active, .fade-leave-active {
  transition: all 1s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

//FADE UP
.fade-up-enter-active, .fade-up-leave-active {
  transition: all 1s ease;
}
.fade-up-enter, .fade-up-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

//Fade Down
.fade-down-enter-active, .fade-down-leave-active {
  transition: all 1s ease !important;
}
.fade-down-enter, .fade-down-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

//FADE LEFT
.fade-left-enter-active, .fade-left-leave-active {
  transition: all 1s ease;
}
.fade-left-enter, .fade-left-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

//FADE FAST
.fade-fast-enter-active, .fade-fast-leave-active {
  transition: all 0.3s ease;
}
.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}

//Fade Scale
.fade-scale-enter-active, .fade-scale-leave-active {
  transition: all 0.5s ease !important;
}
.fade-scale-enter, .fade-scale-leave-to {
  opacity: 0;
  transform: scale(1.1);
}


//Page Out In
.page-out-in-enter-active, .page-out-in-leave-active {
  transition: all 1s ease !important;
}
.page-out-in-enter, .page-out-in-leave-to {
  opacity: 0;
  transform: scale(.9);
}


.ti-spin {
  display: block;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes fade {
  0% { opacity: 1; }
  50% {  opacity: 0; }
  100% { opacity: 1;}
}